@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PasswordViewModel 

<div class="row">
    <div class="col-md-6 offset-md-3 jumbotron">
        <h4>Please enter the password for this image:</h4>
        @if (!String.IsNullOrEmpty(Model.InvalidPassword))
        {
            <h3 class="alert-danger">@Model.InvalidPassword</h3>
        }
        <form method="post" action="/home/viewimage">
            <input type="hidden" name="id" value="@Model.ID" />
            <input type="text" class="form-control" placeholder="Password" name="password" />
            <br />
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
